<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <%- include('include/include') -%>
    <style>
        .form-signin {
            max-width: 330px;
            padding: 15px;
            margin: auto;
        }
        .container {
            margin-top: 150px;
        }
        .container input {
            margin-bottom: 5px;
        }
    </style>
</head>
<body>
<div class="container">
    <form action="" class="form-signin" role="form">
        <h2 class="form-signin-heading">欢迎登录</h2>
        <input type="text" class="form-control" required autofocus>
        <input type="password" class="form-control">
        <input type="button" value="登录" class="btn btn-primary btn-block">
    </form>
</div>
</body>
</html>